@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: #0587f6;
  --primary-color-light: #cff5ff;
  --secondary-color: #0343cf;
  --danger-color: #f6050f;
  --text-black: #37393a;
  --white-color: #ffffff;
  --green-color: #03cf29;
  --container-lg: 90%;
  --container-md: 80%;
  --container-sm: 95%;
  --font-roboto: "Roboto", sans-serif;
}

/* =============================================
1.) GENERAL CSS
================================================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

body {
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: var(--container-lg);
  margin: auto;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* =============================================
2.) TOPBAR
================================================*/
.topbar-section {
  background-color: var(--primary-color);
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.topbar .contact-info ul {
  display: flex;
  gap: 0.6rem;
  text-decoration: none;
  align-items: center;
  height: 100%;
  color: var(--white-color);
}

.topbar .contact-info ul li a {
  color: var(--white-color);
}

.social-links ul {
  display: flex;
  gap: 0.6rem;
}

.social-links ul li {
  font-size: 1.3rem;
}

.social-links ul li a {
  color: var(--white-color);
}

/* =============================================
3.) NAVIGATION
================================================*/
